<!DOCTYPE html>
{% load staticfiles %}
<html lang="fa" dir="rtl">
<head>
    <title id="title"> صفحه شخصی {{ benefactor.name }} {{ benefactor.surname }} </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={% static "css/BenefactorsProfileView.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
</head>
<body>
<div class="main">
    {% if not request.user.is_authenticated %}
        <div id="checkspann" class="1"></div>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if request.user.isOrg %}
            <div id="checkspann" class="2"></div>
        {% endif %}
        {% if request.user.isBen %}
            <div id="checkspann" class="3"></div>
        {% endif %}
        {% if not request.user.isOrg and not request.user.isBen %}
            <div id="checkspann" class="4"></div>
        {% endif %}
    {% endif %}
    {% if benefactor.typeOfCooperation == "atHome" %}
        <div id="checkspann1" class="1"></div>
    {% endif %}
    {% if not benefactor.typeOfCooperation == "atHome" %}
        <div id="checkspann1" class="2"></div>
    {% endif %}
    <div class="header">
        <div class="topmenu" id="topmenu">
            {% if request.user.is_authenticated %}
                <div class="container">
                    <div class="topPhoto">
                        <img src="../{{ request.user.image }}">
                    </div>
                    <div class="topmenuelements">
                        {% if request.user.isOrg %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.organizer.name }}</a>
                        {% endif %}
                        {% if request.user.isBen %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.benefactor.name }} {{ request.user.benefactor.surname }}</a>
                        {% endif %}
                    </div>
                    <div class="topmenudate">
                        <a href="{% url 'logout' %}">خروج</a>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <div class="container">
                    <div class="topmenudate">
                        <h3>شما هنوز وارد نشده‌اید،</h3>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popup()">ورود</button>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popupregister()">ثبت نام</button>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="mainPage">
        <div class="wrapper"></div>
        <div id="test">
            <div class="wrappers">
                <form class="login" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button id="button2" class="exit1" onclick="popdown()">x</button>
                    <p class="title">ورود</p>
                    <p>
                        <input type="text" placeholder="نام کاربری" class="login-text" name="username">
                        <i class="ion-person"></i>
                    </p>
                    <p>
                        <input type="password" placeholder="رمز عبور" class="login-text" name="password">
                        <i class="ion-ios-locked"></i>
                    </p>
                    <div class="enter">
                        <button>ورود</button>
                    </div>
                    <a href={% url 'password_reset' %} class="forget">فراموشی رمز عبور</a>

                    <p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p>
                    <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button>
                    <p>کنید</p>
                </form>
            </div>
        </div>

        <div id="testreg">
            <div class="wrappers">
                <form class="register">
                    <button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
                    <p class="title">ثبت نام</p>
                    <div class="enter"><a href="{% url 'register' %}">نیکوکار</a></div>
                    <div class="enter"><a href="{% url 'registerOrg' %}">موسسه</a></div>
                </form>
            </div>
        </div>
        <div class="nav" id="nav"></div>
        <div class="container">
            <div style="width:100%; display: inline-block; ">
            <div style="float: left;" class="photo">
                <div id="photo"><img src="../{{ user.image }}" alt=""></div>
            </div>
            <div style="float: right;" class="personal">
                <h2> مشخصات </h2>
                <div id="personal">
                    <h3>نام مستعار: {{ benefactor.nickname }}</h3>
                    <h3>سال تولد: {{ benefactor.year }}</h3>
                    {% if benefactor.education == "nothing" %}
                        <h3>تحصیلات: ندارد</h3>
                    {% endif %}
                    {% if benefactor.education == "diploma" %}
                        <h3>تحصیلات: دیپلم یا فوق‌دیپلم ( {{ benefactor.major }} )</h3>
                    {% endif %}
                    {% if benefactor.education == "bachelor" %}
                        <h3>تحصیلات: لیسانس ( {{ benefactor.major }} )</h3>
                    {% endif %}
                    {% if benefactor.education == "master" %}
                        <h3>تحصیلات: فوق‌لیسانس ( {{ benefactor.major }} )</h3>
                    {% endif %}
                    {% if benefactor.education == "phd" %}
                        <h3>تحصیلات: دکتری یا بالاتر ( {{ benefactor.major }} )</h3>
                    {% endif %}
                    <h3>شهر محل سکونت: {{ benefactor.city }}</h3>
                    <br>
                    <h3>تعداد رای‌ها: {{ count }}</h3>
                </div>
            </div>
            </div>
            <div class="chartContainer" style="width: 100%; float: right; display: flex">
                    <div id="chart" style="width: 60%;">
                        <div>
                            <table>
                                <tbody>
                                <tr class="bars">
                                    <td>
                                        <div class="one"
                                             style="height: {{ benefactor.rate.f1 }}%; position: absolute; width: 100%; bottom: 0px;">{{ benefactor.rate.f1 }}%
                                        </div>
                                    </td>
                                    <td>
                                        <div class="two"
                                             style="height: {{ benefactor.rate.f2 }}%; position: absolute; width: 100%; bottom: 0px;">{{ benefactor.rate.f2 }}%
                                        </div>
                                    </td>
                                    <td>
                                        <div class="three"
                                             style="height: {{ benefactor.rate.f3 }}%; position: absolute; width: 100%; bottom: 0px;">{{ benefactor.rate.f3 }}%
                                        </div>
                                    </td>
                                    <td>
                                        <div class="four"
                                             style="height: {{ benefactor.rate.f4 }}%; position: absolute; width: 100%; bottom: 0px;">{{ benefactor.rate.f4 }}%
                                        </div>
                                    </td>
                                    <td>
                                        <div class="five"
                                             style="height: {{ benefactor.rate.f5 }}%; position: absolute; width: 100%; bottom: 0px;">{{ benefactor.rate.f5 }}%
                                        </div>
                                    </td>
                                    <td class="legend">
                                            <span class="legbox">
                                                <span class="one xaxisname"></span><span>صداقت</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="two xaxisname"></span><span>تعهد</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="three xaxisname"></span><span>مسئولیت‌پذیری</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="four xaxisname"></span><span>وقت‌شناسی</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="five xaxisname"></span><span>علاقه به کار</span>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="float:left; width: 35%; display: inline-block">
                        <h3 style="text-align: center;margin-bottom: 10px">نظرات</h3>
                        <div style="height: 180px; overflow-y:scroll; background: rgba(255,255,255,0.8); padding: 5px">
                            {% if comments|length == 0 %}
                                <h5 style="margin-top: 5px;">نظری وجود ندارد</h5>
                            {% endif %}
                            {% for comment in comments %}
                                <h5 style="width: 80%; margin: 10px auto 5px auto;border-bottom: 1px solid #777777">{{ comment.description }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% if request.user.is_authenticated and request.user.isOrg %}
                <a style="display: inline-block; padding: 2px 10px; font-size: 14px;  text-decoration: none; color: #fdfdfd; height: 30px; background: #1E90FF; border-radius: 15px;"
                   href={% url 'comment' user.username %}>امتیازدهی به نیکوکار</a>
            {% endif %}
            <form method="post" action="{% url 'send_request_ben' user.username %}">
                {% csrf_token %}
                <div id="abilities">
                    <h2>توانایی‌ها </h2>
                    <div id="abilities1">{% for ability in user_abilities %}
                        <span class="abilitySpan" style="display: block;margin: 2px 20px 2px 0px" value="1"
                              id="{{ ability.abilityId.name }}">{{ ability.abilityId.name }}</span>{% endfor %}</div>
                    {% if request.user.is_authenticated %}
                        {% for ability in user_abilities %}
                            <input type="checkbox" style="display: none;" name="{{ ability.abilityId.name }}"
                                   id="d{{ ability.abilityId.name }}">
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="projects">
                    <h2>موسساتی که تا کنون با این نیکوکار همکاری داشته اند:</h2>
                    <ul>{% for org in organizations %}
                        <a href="{% url 'profile' org.user.username %}" style="text-decoration: none; color: #222222">{{ org.name }}</a> {% endfor %}</ul>
                </div>
                {% if request.user.is_authenticated %}
                <div id="weeklyfreetime">
                    <h2>زمانبندی هفتگی</h2>
                    {% if benefactor.typeOfCooperation == "inOffice10" or benefactor.typeOfCooperation == "inOffice20" or benefactor.typeOfCooperation == "inOffice30" or benefactor.typeOfCooperation == "inOfficemore" %}
                        <table id="tab">
                            <tbody>
                            <tr>
                                <td></td>
                                <td> 8-10</td>
                                <td> 10-12</td>
                                <td> 12-15</td>
                                <td> 15-17</td>
                            </tr>
                            <tr>
                                <td>شنبه</td>
                                <td><span id="11" onclick="week(11,0)" value="1"></span></td>
                                <td><span id="12" onclick="week(12,1)" value="1"></span></td>
                                <td><span id="13" onclick="week(13,2)" value="1"></span></td>
                                <td><span id="14" onclick="week(14,3)" value="1"></span></td>
                            </tr>
                            <tr>
                                <td>یکشنبه</td>
                                <td><span id="21" onclick="week(21,4)" value="1"></span></td>
                                <td><span id="22" onclick="week(22,5)" value="1"></span></td>
                                <td><span id="23" onclick="week(23,6)" value="1"></span></td>
                                <td><span id="24" onclick="week(24,7)" value="1"></span></td>
                            </tr>
                            <tr>
                                <td>دوشنبه</td>
                                <td><span id="31" onclick="week(31,8)" value="1"></span></td>
                                <td><span id="32" onclick="week(32,9)" value="1"></span></td>
                                <td><span id="33" onclick="week(33,10)" value="1"></span></td>
                                <td><span id="34" onclick="week(34,11)" value="1"></span></td>
                            </tr>
                            <tr>
                                <td>سه‌شنبه</td>
                                <td><span id="41" onclick="week(41,12)" value="1"></span></td>
                                <td><span id="42" onclick="week(42,13)" value="1"></span></td>
                                <td><span id="43" onclick="week(43,14)" value="1"></span></td>
                                <td><span id="44" onclick="week(44,15)" value="1"></span></td>
                            </tr>
                            <tr>
                                <td>چهارشنبه</td>
                                <td><span id="51" onclick="week(51,16)" value="1"></span></td>
                                <td><span id="52" onclick="week(52,17)" value="1"></span></td>
                                <td><span id="53" onclick="week(53,18)" value="1"></span></td>
                                <td><span id="54" onclick="week(54,19)" value="1"></span></td>
                            </tr>
                            <tr>
                                <td>پنجشنبه</td>
                                <td><span id="61" onclick="week(61,20)" value="1"></span></td>
                                <td><span id="62" onclick="week(62,21)" value="1"></span></td>
                                <td><span id="63" onclick="week(63,22)" value="1"></span></td>
                                <td><span id="64" onclick="week(64,23)" value="1"></span></td>
                            </tr>
                            <tr>
                                <td> جمعه</td>
                                <td><span id="71" onclick="week(71,24)" value="1"></span></td>
                                <td><span id="72" onclick="week(72,25)" value="1"></span></td>
                                <td><span id="73" onclick="week(73,26)" value="1"></span></td>
                                <td><span id="74" onclick="week(74,27)" value="1"></span></td>
                            </tr>
                            </tbody>
                            <h5 id="tab2" style="display: none">لطفا زمان‌های غیرفعال خود را علامت بزنید</h5>
                        </table>
                    {% endif %}
                    {% if week.c0 == "on" %}
                        <input type="checkbox" name="a0" id="a0" style="display: none" checked>{% endif %}
                    {% if week.c0 == "off" %}<input type="checkbox" name="a0" id="a0" style="display: none">{% endif %}
                    {% if week.c1 == "on" %}
                        <input type="checkbox" name="a1" id="a1" style="display: none" checked>{% endif %}
                    {% if week.c1 == "off" %}<input type="checkbox" name="a1" id="a1" style="display: none">{% endif %}
                    {% if week.c2 == "on" %}
                        <input type="checkbox" name="a2" id="a2" style="display: none" checked>{% endif %}
                    {% if week.c2 == "off" %}<input type="checkbox" name="a2" id="a2" style="display: none">{% endif %}
                    {% if week.c3 == "on" %}
                        <input type="checkbox" name="a3" id="a3" style="display: none" checked>{% endif %}
                    {% if week.c3 == "off" %}<input type="checkbox" name="a3" id="a3" style="display: none">{% endif %}
                    {% if week.c4 == "on" %}
                        <input type="checkbox" name="a4" id="a4" style="display: none" checked>{% endif %}
                    {% if week.c4 == "off" %}<input type="checkbox" name="a4" id="a4" style="display: none">{% endif %}
                    {% if week.c5 == "on" %}
                        <input type="checkbox" name="a5" id="a5" style="display: none" checked>{% endif %}
                    {% if week.c5 == "off" %}<input type="checkbox" name="a5" id="a5" style="display: none">{% endif %}
                    {% if week.c6 == "on" %}
                        <input type="checkbox" name="a6" id="a6" style="display: none" checked>{% endif %}
                    {% if week.c6 == "off" %}<input type="checkbox" name="a6" id="a6" style="display: none">{% endif %}
                    {% if week.c7 == "on" %}
                        <input type="checkbox" name="a7" id="a7" style="display: none" checked>{% endif %}
                    {% if week.c7 == "off" %}<input type="checkbox" name="a7" id="a7" style="display: none">{% endif %}
                    {% if week.c8 == "on" %}
                        <input type="checkbox" name="a8" id="a8" style="display: none" checked>{% endif %}
                    {% if week.c8 == "off" %}<input type="checkbox" name="a8" id="a8" style="display: none">{% endif %}
                    {% if week.c9 == "on" %}
                        <input type="checkbox" name="a9" id="a9" style="display: none" checked>{% endif %}
                    {% if week.c9 == "off" %}<input type="checkbox" name="a9" id="a9" style="display: none">{% endif %}
                    {% if week.c10 == "on" %}
                        <input type="checkbox" name="a10" id="a10" style="display: none" checked>{% endif %}
                    {% if week.c10 == "off" %}
                        <input type="checkbox" name="a10" id="a10" style="display: none">{% endif %}
                    {% if week.c11 == "on" %}
                        <input type="checkbox" name="a11" id="a11" style="display: none" checked>{% endif %}
                    {% if week.c11 == "off" %}
                        <input type="checkbox" name="a11" id="a11" style="display: none">{% endif %}
                    {% if week.c12 == "on" %}
                        <input type="checkbox" name="a12" id="a12" style="display: none" checked>{% endif %}
                    {% if week.c12 == "off" %}
                        <input type="checkbox" name="a12" id="a12" style="display: none">{% endif %}
                    {% if week.c13 == "on" %}
                        <input type="checkbox" name="a13" id="a13" style="display: none" checked>{% endif %}
                    {% if week.c13 == "off" %}
                        <input type="checkbox" name="a13" id="a13" style="display: none">{% endif %}
                    {% if week.c14 == "on" %}
                        <input type="checkbox" name="a14" id="a14" style="display: none" checked>{% endif %}
                    {% if week.c14 == "off" %}
                        <input type="checkbox" name="a14" id="a14" style="display: none">{% endif %}
                    {% if week.c15 == "on" %}
                        <input type="checkbox" name="a15" id="a15" style="display: none" checked>{% endif %}
                    {% if week.c15 == "off" %}
                        <input type="checkbox" name="a15" id="a15" style="display: none">{% endif %}
                    {% if week.c16 == "on" %}
                        <input type="checkbox" name="a16" id="a16" style="display: none" checked>{% endif %}
                    {% if week.c16 == "off" %}
                        <input type="checkbox" name="16" id="a16" style="display: none">{% endif %}
                    {% if week.c17 == "on" %}
                        <input type="checkbox" name="a17" id="a17" style="display: none" checked>{% endif %}
                    {% if week.c17 == "off" %}
                        <input type="checkbox" name="a17" id="a17" style="display: none">{% endif %}
                    {% if week.c18 == "on" %}
                        <input type="checkbox" name="a18" id="a18" style="display: none" checked>{% endif %}
                    {% if week.c18 == "off" %}
                        <input type="checkbox" name="a18" id="a18" style="display: none">{% endif %}
                    {% if week.c19 == "on" %}
                        <input type="checkbox" name="a19" id="a19" style="display: none" checked>{% endif %}
                    {% if week.c19 == "off" %}
                        <input type="checkbox" name="a19" id="a19" style="display: none">{% endif %}
                    {% if week.c20 == "on" %}
                        <input type="checkbox" name="a20" id="a20" style="display: none" checked>{% endif %}
                    {% if week.c20 == "off" %}
                        <input type="checkbox" name="a20" id="a20" style="display: none">{% endif %}
                    {% if week.c21 == "on" %}
                        <input type="checkbox" name="a21" id="a21" style="display: none" checked>{% endif %}
                    {% if week.c21 == "off" %}
                        <input type="checkbox" name="a21" id="a21" style="display: none">{% endif %}
                    {% if week.c22 == "on" %}
                        <input type="checkbox" name="a22" id="a22" style="display: none" checked>{% endif %}
                    {% if week.c22 == "off" %}
                        <input type="checkbox" name="a22" id="a22" style="display: none">{% endif %}
                    {% if week.c23 == "on" %}
                        <input type="checkbox" name="a23" id="a23" style="display: none" checked>{% endif %}
                    {% if week.c23 == "off" %}
                        <input type="checkbox" name="a23" id="a23" style="display: none">{% endif %}
                    {% if week.c24 == "on" %}
                        <input type="checkbox" name="a24" id="a24" style="display: none" checked>{% endif %}
                    {% if week.c24 == "off" %}
                        <input type="checkbox" name="a24" id="a24" style="display: none">{% endif %}
                    {% if week.c25 == "on" %}
                        <input type="checkbox" name="a25" id="a25" style="display: none" checked>{% endif %}
                    {% if week.c25 == "off" %}
                        <input type="checkbox" name="a25" id="a25" style="display: none">{% endif %}
                    {% if week.c26 == "on" %}
                        <input type="checkbox" name="a26" id="a26" style="display: none" checked>{% endif %}
                    {% if week.c26 == "off" %}
                        <input type="checkbox" name="a26" id="a26" style="display: none">{% endif %}
                    {% if week.c27 == "on" %}
                        <input type="checkbox" name="a27" id="a27" style="display: none" checked>{% endif %}
                    {% if week.c27 == "off" %}
                        <input type="checkbox" name="a27" id="a27" style="display: none">{% endif %}

                    {% for i in rangee %}
                        <input type="checkbox" id="c{{ i }}" name="c{{ i }}" style="display: none">{% endfor %}
                    {% if benefactor.typeOfCooperation == "atHome" %}
                        <h3>دورکاری</h3>
                    {% endif %}
                </div>
                <h2>توضیحات بیشتر</h2>
                <div class="controls">
                    <textarea style="width: 80%;" id="cm" class="floatlabel" placeholder="توضیحات بیشتر" name="description"></textarea>
                </div>
                <button class="subreq"> ارسال پیشنهاد همکاری</button>
                {% endif %}
            </form>
            {% if request.user.is_authenticated and not request.user.isBen and not request.user.isOrg %}
                <button class="subreq" style="background-color: #f72c2c; z-index:4" onclick="popupDelete()">حذف کاربر</button>

            {% endif %}
        </div>
        <div id="delete" style="display: none">
            <div class="wrappers" style="width: 100%; min-height: 1200px; position: fixed; background: rgba(50,50,50,0.8);top: 0px;z-index: 3;">
                <form class="register" id="formRemove" method="post" action="{% url 'delete_user' %}">
                    {% csrf_token %}
                    <input type="text" name="user" value="{{ benefactor.user.id }}" style="display: none;">
                    <p class="title">کاربر از لیست کاربران سامانه حذف شود؟</p>
                    <div class="enter">
                        <button class="yes" style="background-color: #f72c2c" onclick="this.form.submit()">بله</button>
                    </div>
                    <div class="enter">
                        <button id="not"
                                onclick="popdownDelete()">خیر
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="addr">
                <h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
                <h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
            </div>
        </div>
        <div class="copy">
            <h4>کپی‌رایت رعایت شود.</h4>
        </div>
    </div>
</div>
<script type="text/javascript" src={% static "js/BenefactorsProfileView.js" %}></script>
<script type="text/javascript" src={% static "js/main.js" %}></script>
<script src={% static "js/jquery.min.js" %}></script>
</body>
</html>