<!DOCTYPE html>
{% load staticfiles %}
<html lang="fa" dir="rtl">
<head>
    <title>ثبت نام- نیکوکاران </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/editProfileBenefactor.css" %}>
    <link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
</head>
<body>
{{ form.errors }}
<div class="main">
    {% if not request.user.is_authenticated %}
        <div id="checkspann" class="1"></div>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if request.user.isOrg %}
            <div id="checkspann" class="2"></div>
        {% endif %}
        {% if request.user.isBen %}
            <div id="checkspann" class="3"></div>
        {% endif %}
        {% if not request.user.isOrg and not request.user.isBen %}
            <div id="checkspann" class="4"></div>
        {% endif %}
    {% endif %}
    <div class="header">
        <div class="topmenu" id="topmenu">
            {% if request.user.is_authenticated %}
                <div class="container">
                    <div class="topPhoto">
                        <img src="../{{ request.user.image }}">
                    </div>
                    <div class="topmenuelements">
                        {% if request.user.isOrg %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.organizer.name }}</a>
                        {% endif %}
                        {% if request.user.isBen %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.benefactor.name }} {{ request.user.benefactor.surname }}</a>
                        {% endif %}
                    </div>
                    <div class="topmenudate">
                        <a href="{% url 'logout' %}">خروج</a>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <div class="container">
                    <div class="topmenudate">
                        <h3>شما هنوز وارد نشده‌اید،</h3>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popup()">ورود</button>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popupregister()">ثبت نام</button>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="mainPage">
        <div class="wrapper"></div>
        <div id="test">
            <div class="wrappers">
                <form class="login" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button id="button2" class="exit1" onclick="popdown()">x</button>
                    <p class="title">ورود</p>
                    <p>
                        <input type="text" placeholder="نام کاربری" class="login-text" name="username">
                        <i class="ion-person"></i>
                    </p>
                    <p>
                        <input type="password" placeholder="رمز عبور" class="login-text" name="password">
                        <i class="ion-ios-locked"></i>
                    </p>
                    <div class="enter">
                        <button>ورود</button>
                    </div>
                    <a href={% url 'password_reset' %} class="forget">فراموشی رمز عبور</a>

                    <p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p>
                    <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button>
                    <p>کنید</p>
                </form>
            </div>
        </div>

        <div id="testreg">
            <div class="wrappers">
                <form class="register">
                    <button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
                    <p class="title">ثبت نام</p>
                    <div class="enter"><a href="{% url 'register' %}">نیکوکار</a></div>
                    <div class="enter"><a href="{% url 'registerOrg' %}">موسسه</a></div>
                </form>
            </div>
        </div>
        <div class="nav" id="nav"></div>
        <div class="formm" style="z-index:9">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>مشخصات</h2>
                <div class="controls">
                    <input type="text" id="name" class="floatlabel" placeholder="نام" name="name">
                </div>

                <div class="controls">
                    <input type="text" id="lastname" class="floatlabel" placeholder="نام خانوادگی" , name="surname">
                </div>

                <div class="controls">
                    <input type="text" id="nickname" class="floatlabel" placeholder="نام مستعار" , name="nickname">
                </div>

                <div class="controls">
                    <input type="text" id="username" class="floatlabel" placeholder="نام کاربری" , name="username">
                </div>

                <div class="controls">
                    <input type="password" id="pass1" class="floatlabel" placeholder="کلمه عبور" , name="password">
                </div>
                <div class="controls">
                    {{ user_form.password2 }}
                </div>

                {{ user_form.errors }}

                <div class="controls">
                    <i class="ion-navicon"></i>
                    <select id="sex" class="floatlabel" name="gender">
                        <option value="blank"> جنسیت</option>
                        <option value="male">مرد</option>
                        <option value="female">زن</option>
                        <option value="other">سایر</option>
                    </select>
                </div>

                <div class="controls">
                    <h3>تاریخ تولد</h3>
                    <input type="number" id="date" class="birthday" placeholder="روز" name="day">
                    <input type="number" id="month" class="birthday" placeholder="ماه" name="month">
                    <input type="number" id="year" class="birthday" placeholder="سال" name="year">
                </div>

                <div class="controls">
                    <i class="ion-navicon"></i>
                    <select id="education" class="floatlabel" onchange="eduChanged()" name="education">
                        <option value="blank"> میزان تحصیلات</option>
                        <option value="nothing">-</option>
                        <option value="diploma">دیپلم و فوق دیپلم</option>
                        <option value="bachelor">لیسانس</option>
                        <option value="master">فوق لیسانس</option>
                        <option value="phd">دکتری و بالاتر</option>
                    </select>
                </div>

                <div class="educontrols">
                    <input type="text" id="fieldOfEducation" class="floatlabel" placeholder="رشته تحصیلی" name="major">
                </div>

                <div class="controls">
                    <input type="number" id="nationalId" class="NID" placeholder="کد ملی" name="nationalId">
                </div>

                <div class="controls">
                    <i class="ion-navicon"></i>
                    <select id="city" class="floatlabel" name="city">
                        <option value="blank">شهر محل سکونت</option>
                        {% for city in cities %}
                            <option value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="controls">
                    <input type="text" id="addr" class="floatlabel" placeholder="آدرس" name="address">
                </div>

                <div class="controls">
                    <input type="email" id="email" class="floatlabel" placeholder="ایمیل" name="email">
                </div>

                <div class="controls">
                    <input type="tel" id="tel" class="floatlabel" placeholder="تلفن" name="phone">
                </div>

                <div class="controls">
                    <h4 style="display: inline; margin-left: 10px;"> عکس </h4>
                    <input type="file" id="photo" name="image">
                </div>

                <h2> توانایی‌ها </h2>
                <div class="controlsAbility">
                    <select id="candidate" class="floatlabel" name="ability">
                        {% for ability in abilities %}
                            <option value="{{ ability.name }}">{{ ability.name }}</option>
                        {% endfor %}
                    </select>
                    {% for ability in abilities %}
                        <input type="checkbox" name="{{ ability.name }}" id="{{ ability.name }}" style="display: none">
                    {% endfor %}
                    <button id="add" onclick="addItem()"><h3>+</h3></button>
                    <ul id="dynamiclist"></ul>
                </div>

                <h2>زمانبندی هفتگی</h2>
                <div class="controls">
                    <i class="ion-navicon"></i>
                    <select id="typeOfParticipation" class="floatlabel" onchange="participation()" name="typeOfCooperation">
                        <option value="blank">نوع همکاری</option>
                        <option value="inOffice10" name="inOffice10">حضوری، کمتر از ۱۰ ساعت در هفته</option>
                        <option value="inOffice20" name="inOffice20">حضوری، بین ۱۰ تا ۲۰ ساعت در هفته</option>
                        <option value="inOffice30" name="inOffice30">حضوری، بین ۲۰ تا ۳۰ ساعت در هفته</option>
                        <option value="inOfficemore" name="inOfficemore">حضوری، بیش از ۳۰ ساعت در هفته</option>
                        <option value="atHome" name="atHome">دورکاری</option>
                    </select>
                </div>
                <table id="tab">
                    <tbody>
                    <tr>
                        <td></td>
                        <td> 8-10</td>
                        <td> 10-12</td>
                        <td> 12-15</td>
                        <td> 15-17</td>
                    </tr>
                    <tr>
                        <td>شنبه</td>
                        <td><span id="11" onclick="week(11,0)" value="1"></span></td>
                        <td><span id="12" onclick="week(12,1)" value="1"></span></td>
                        <td><span id="13" onclick="week(13,2)" value="1"></span></td>
                        <td><span id="14" onclick="week(14,3)" value="1"></span></td>
                    </tr>
                    <tr>
                        <td>یکشنبه</td>
                        <td><span id="21" onclick="week(21,4)" value="1"></span></td>
                        <td><span id="22" onclick="week(22,5)" value="1"></span></td>
                        <td><span id="23" onclick="week(23,6)" value="1"></span></td>
                        <td><span id="24" onclick="week(24,7)" value="1"></span></td>
                    </tr>
                    <tr>
                        <td>دوشنبه</td>
                        <td><span id="31" onclick="week(31,8)" value="1"></span></td>
                        <td><span id="32" onclick="week(32,9)" value="1"></span></td>
                        <td><span id="33" onclick="week(33,10)" value="1"></span></td>
                        <td><span id="34" onclick="week(34,11)" value="1"></span></td>
                    </tr>
                    <tr>
                        <td>سه‌شنبه</td>
                        <td><span id="41" onclick="week(41,12)" value="1"></span></td>
                        <td><span id="42" onclick="week(42,13)" value="1"></span></td>
                        <td><span id="43" onclick="week(43,14)" value="1"></span></td>
                        <td><span id="44" onclick="week(44,15)" value="1"></span></td>
                    </tr>
                    <tr>
                        <td>چهارشنبه</td>
                        <td><span id="51" onclick="week(51,16)" value="1"></span></td>
                        <td><span id="52" onclick="week(52,17)" value="1"></span></td>
                        <td><span id="53" onclick="week(53,18)" value="1"></span></td>
                        <td><span id="54" onclick="week(54,19)" value="1"></span></td>
                    </tr>
                    <tr>
                        <td>پنجشنبه</td>
                        <td><span id="61" onclick="week(61,20)" value="1"></span></td>
                        <td><span id="62" onclick="week(62,21)" value="1"></span></td>
                        <td><span id="63" onclick="week(63,22)" value="1"></span></td>
                        <td><span id="64" onclick="week(64,23)" value="1"></span></td>
                    </tr>
                    <tr>
                        <td> جمعه</td>
                        <td><span id="71" onclick="week(71,24)" value="1"></span></td>
                        <td><span id="72" onclick="week(72,25)" value="1"></span></td>
                        <td><span id="73" onclick="week(73,26)" value="1"></span></td>
                        <td><span id="74" onclick="week(74,27)" value="1"></span></td>
                    </tr>
                    </tbody>
                    <h5 id="tab2" style="display: none">لطفا زمان‌های غیرفعال خود را علامت بزنید</h5>
                </table>
                {% for i in rangee %}
                    <input type="checkbox" name="c{{ i }}" id="a{{ i }}" style="display: none">
                {% endfor %}
                <div class="controls">
                    <input type="checkbox" id="checkbox" class="checkbox" name="terms">
                    <label class="checkb" style="display: inline;" for="checkbox"><span></span><a
                            href={% url 'terms' %} style="text-decoration: none; color: #009966">قوانین</a> را قبول دارم</label>
                </div>

                <button>ثبت</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="addr">
                <h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
                <h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
            </div>
        </div>
        <div class="copy">
            <h4>کپی‌رایت رعایت شود.</h4>
        </div>
    </div>
</div>
<script type="text/javascript" src={% static "js/registerBenefactor.js" %}></script>
<script type="text/javascript" src={% static "js/main.js" %}></script>
<script src={% static "js/jquery.min.js" %}></script>
</body>
</html>