<!DOCTYPE html>
{% load staticfiles %}
<html lang="fa" dir="rtl">
<head>
    <title>مهرانه</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}/>
</head>
<body>
<div id="ad" class="main">
    {% if not request.user.is_authenticated %}
        <div id="checkspann" class="1"></div>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if request.user.isOrg %}
            <div id="checkspann" class="2"></div>
        {% endif %}
        {% if request.user.isBen %}
            <div id="checkspann" class="3"></div>
        {% endif %}
        {% if not request.user.isOrg and not request.user.isBen %}
            <div id="checkspann" class="4"></div>
        {% endif %}
    {% endif %}
    <div class="header">
        <div class="topmenu" id="topmenu">
            {% if request.user.is_authenticated %}
                <div class="container">
                    <div class="topPhoto">
                        <img src="../{{ request.user.image }}">
                    </div>
                    <div class="topmenuelements">
                        {% if request.user.isOrg %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.organizer.name }}</a>
                        {% endif %}
                        {% if request.user.isBen %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.benefactor.name }} {{ request.user.benefactor.surname }}</a>
                        {% endif %}
                    </div>
                    <div class="topmenudate">
                        <a href="{% url 'logout' %}">خروج</a>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <div class="container">
                    <div class="topmenudate">
                        <h3>شما هنوز وارد نشده‌اید،</h3>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popup()">ورود</button>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popupregister()">ثبت نام</button>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="mainPage">
        <div class="wrappera"></div>
        <div id="test">
            <div class="wrappers">
                <form class="login" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button id="button2" class="exit1" onclick="popdown()">x</button>
                    <p class="title">ورود</p>
                    <p>
                        <input type="text" placeholder="نام کاربری" class="login-text" name="username">
                        <i class="ion-person"></i>
                    </p>
                    <p>
                        <input type="password" placeholder="رمز عبور" class="login-text" name="password">
                        <i class="ion-ios-locked"></i>
                    </p>
                    <div class="enter">
                        <button>ورود</button>
                    </div>
                    <a href={% url 'password_reset' %} class="forget">فراموشی رمز عبور</a>

                    <p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p>
                    <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button>
                    <p>کنید</p>
                </form>
            </div>
        </div>

        <div id="testreg">
            <div class="wrappers">
                <form class="register">
                    <button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
                    <p class="title">ثبت نام</p>
                    <div class="enter"><a href="{% url 'register' %}">نیکوکار</a></div>
                    <div class="enter"><a href="{% url 'registerOrg' %}">موسسه</a></div>
                </form>
            </div>
        </div>
        <div class="nav" id="nav"></div>
        <div id="cc">
            <div class="wrapper"></div>
            <div class="section1" id="c1">
                <p class="p1" id="p1">
                    امروزه، پتانسیل‌های فراوانی برای انجام امور خیریه در بین مردم ایران نهفته است که به دلیل وجود نداشتن
                    بستری مناسب برای یافتن این پتانسیل‌ها، به نوعی شاهد اتلاف آن‌ها هستیم.

                    همچنین، موسسه‌های خیریه فراوانی در سرتاسر کشورمان احداث شده‌اند که در اکثر آن‌ها، شاهد کمبود نیروی
                    انسانی هستیم و به همین دلیل، این موسسات در یاری‌رسانی به نیازمندان دچار مشکل‌هایی هستند.

                    به همین صورت، پروژه‌های خیریه زیادی نیز وجود دارند که موسسات آن‌ها را شروع می‌کنند اما به دلیل تامین
                    نشدن بودجه مورد نیاز برای انجام پروژه، پروژه‌ها اغلب با شکست مواجه می‌شوند.

                    سامانه مهرانه، بستری فراهم کرده است تا نیکوکاران و موسسات بتوانند یکدیگر را بشناسند و بتوانند به
                    همکاری یکدیگر، به انجام امور خیر بپردازند.
                </p>
            </div>
            <div class="section2" id="c2">
                <div id="p2">

                </div>
                <p id="p21">
                    موسسات خیریه به راحتی می‌توانند با ثبت‌نام در این سامانه، توانمندی‌های مورد نیازشان را در میان
                    نیکوکاران جستجو کنند و با آن‌ها همکاری کنند و همچنین، با ثبت پروژه‌هایشان، از خیرین برای تامین مالی
                    آن‌ها کمک بگیرند.
                </p>
                <div id="p22" class="enter"><a href="{% url 'registerOrg' %}">ثبت نام موسسات</a></div>
            </div>
            <div class="section3" id="c3">
                {% if orgs|length > 0 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' orgs.0.user.username %}> {{ orgs.0.name }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingOrg.0.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingOrg.0.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingOrg.0.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingOrg.0.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingOrg.0.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>نیازمندی‌ها</h5>
                        <ul>
                            {% for req in orgRequirements.0 %}
                                <li>{{ req.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="projects">
                        <h5>پروژه‌ها</h5>
                        <ul>
                            {% for project in orgProjects.0 %}
                                <li>{{ project.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if orgs|length > 1 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' orgs.1.user.username %}> {{ orgs.1.name }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingOrg.1.f1 }}%;position: absolute;bottom: 0;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingOrg.1.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingOrg.1.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingOrg.1.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingOrg.1.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>نیازمندی‌ها</h5>
                        <ul>
                            {% for req in orgRequirements.1 %}
                                <li>{{ req.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="projects">
                        <h5>پروژه‌ها</h5>
                        <ul>
                            {% for project in orgProjects.1 %}
                                <li>{{ project.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if orgs|length > 2 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' orgs.2.user.username %}> {{ orgs.2.name }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingOrg.2.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingOrg.2.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingOrg.2.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingOrg.2.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingOrg.2.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>نیازمندی‌ها</h5>
                        <ul>
                            {% for req in orgRequirements.2 %}
                                <li>{{ req.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="projects">
                        <h5>پروژه‌ها</h5>
                        <ul>
                            {% for project in orgProjects.2 %}
                                <li>{{ project.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if orgs|length > 3 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' orgs.3.user.username %}> {{ orgs.3.name }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingOrg.3.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingOrg.3.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingOrg.3.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingOrg.3.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingOrg.3.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>نیازمندی‌ها</h5>
                        <ul>
                            {% for req in orgRequirements.3 %}
                                <li>{{ req.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="projects">
                        <h5>پروژه‌ها</h5>
                        <ul>
                            {% for project in orgProjects.3 %}
                                <li>{{ project.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
            {% endif %}
            <div class="section4" id="c4">
                <div id="p4">

                </div>
                <p id="p41">
                    افراد علاقه‌مند به انجام کارهای خیر که به دنبال فعالیت در موسسات خیریه هستند، می‌توانند با ثبت نام
                    در سامانه مهرانه، مناسب‌ترین موسسه را انتخاب کنند و در آن مشغول به فعالیت شوند.
                </p>
                <div id="p42" class="enter"><a href="{% url 'register' %}">ثبت نام نیکوکاران</a></div>
            </div>
            <div class="section5" id="c5">
                {% if bens|length > 0 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' bens.0.user.username %}> {{ bens.0.nickname }} </a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingBens.0.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingBens.0.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingBens.0.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingBens.0.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingBens.0.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>توانایی‌ها</h5>
                        <ul>
                            {% for ability in benAbilities.0 %}
                                <li>{{ ability.abilityId.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if bens|length > 1 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' bens.1.user.username %}> {{ bens.1.nickname }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingBens.1.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingBens.1.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingBens.1.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingBens.1.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingBens.1.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>توانایی‌ها</h5>
                        <ul>
                            {% for ability in benAbilities.1 %}
                                <li>{{ ability.abilityId.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if bens|length > 2 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' bens.2.user.username %}> {{ bens.2.nickname }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingBens.2.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingBens.2.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingBens.2.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingBens.2.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingBens.2.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>توانایی‌ها</h5>
                        <ul>
                            {% for ability in benAbilities.2 %}
                                <li>{{ ability.abilityId.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if bens|length > 3 %}
                <div class="organization">
                    <h3><a style="text-decoration: none; color: #eeeeee;"
                           href={% url 'profile' bens.3.user.username %}> {{ bens.3.nickname }}</a></h3>
                    <div>
                        <table>
                            <tr class="bars">
                                <td>
                                    <div class="one"
                                         style="height: {{ ratingBens.3.f1 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="two"
                                         style="height: {{ ratingBens.3.f2 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="three"
                                         style="height: {{ ratingBens.3.f3 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="four"
                                         style="height: {{ ratingBens.3.f4 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                                <td>
                                    <div class="five"
                                         style="height: {{ ratingBens.3.f5 }}%;position: absolute;bottom: 0px;width:100%"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="projects">
                        <h5>توانایی‌ها</h5>
                        <ul>
                            {% for ability in benAbilities.3 %}
                                <li>{{ ability.abilityId.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="addr">
                <h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
                <h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
            </div>
        </div>
        <div class="copy">
            <h4>کپی‌رایت رعایت شود.</h4>
        </div>
    </div>
</div>
{#	<script type="text/javascript" src={% static "js/index.js" %}></script>#}
<script type="text/javascript" src={% static "js/main.js" %}></script>
</body>
</html>



