<!DOCTYPE html>
{% load staticfiles %}
<html lang="fa" dir="rtl">
<head>
    <title>جستجوی نیکوکاران</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/search.css" %}>
    <link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
</head>
<body>
<div class="main">
    {% if not request.user.is_authenticated %}
        <div id="checkspann" class="1"></div>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if request.user.isOrg %}
            <div id="checkspann" class="2"></div>
        {% endif %}
        {% if request.user.isBen %}
            <div id="checkspann" class="3"></div>
        {% endif %}
        {% if not request.user.isOrg and not request.user.isBen %}
            <div id="checkspann" class="4"></div>
        {% endif %}
    {% endif %}
    <div class="header">
        <div class="topmenu" id="topmenu">
            {% if request.user.is_authenticated %}
                <div class="container">
                    <div class="topPhoto">
                        <img src="../{{ request.user.image }}">
                    </div>
                    <div class="topmenuelements">
                        {% if request.user.isOrg %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.organizer.name }}</a>
                        {% endif %}
                        {% if request.user.isBen %}
                            <a href={% url 'profile' request.user.username %}>{{ request.user.benefactor.name }} {{ request.user.benefactor.surname }}</a>
                        {% endif %}
                    </div>
                    <div class="topmenudate">
                        <a href="{% url 'logout' %}">خروج</a>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <div class="container">
                    <div class="topmenudate">
                        <h3>شما هنوز وارد نشده‌اید،</h3>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popup()">ورود</button>
                    </div>
                    <div class="topmenudate">
                        <button onclick="popupregister()">ثبت نام</button>
                    </div>
                    <div class="logo">
                        <img src="../../static/images/logo.png">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="mainPage">
        <div class="wrapper"></div>
        <div id="test">
            <div class="wrappers">
                <form class="login" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button id="button2" class="exit1" onclick="popdown()">x</button>
                    <p class="title">ورود</p>
                    <p>
                        <input type="text" placeholder="نام کاربری" class="login-text" name="username">
                        <i class="ion-person"></i>
                    </p>
                    <p>
                        <input type="password" placeholder="رمز عبور" class="login-text" name="password">
                        <i class="ion-ios-locked"></i>
                    </p>
                    <div class="enter">
                        <button>ورود</button>
                    </div>
                    <a href={% url 'password_reset' %} class="forget">فراموشی رمز عبور</a>

                    <p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p>
                    <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button>
                    <p>کنید</p>
                </form>
            </div>
        </div>

        <div id="testreg">
            <div class="wrappers">
                <form class="register">
                    <button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
                    <p class="title">ثبت نام</p>
                    <div class="enter"><a href="{% url 'register' %}">نیکوکار</a></div>
                    <div class="enter"><a href="{% url 'registerOrg' %}">موسسه</a></div>
                </form>
            </div>
        </div>
        <div class="nav" id="nav"></div>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="filter">
                    <p>جستجوی توانایی نیکوکاران</p>
                    <div class="controlsSelect">
                        <i class="ion-navicon"></i>
                        <select name="field" >
                            <option value="blank">انتخاب توانایی</option>
                            {% for ability in abilities %}
                                <option value="{{ ability.id }}">{{ ability.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="controls">
                        <input name="minimumage"  type="number" placeholder="حداقل سال تولد">
                    </div>
                    <div class="controls">
                        <input name="minimumtotalrating"  type="number" step="0.01"
                               placeholder="حداقل امتیاز (۵-۱)">
                    </div>
                    <input type="submit" class="mybutton" value="اعمال تغییرات">
                </div>
                <div class="searchBar">

                    <div class="container">
                        <div class="controlsname">
                            <input name="orgName" type="text" placeholder="نام مستعار نیکوکار" >
                        </div>
                        <h4> مرتب‌سازی بر اساس </h4>
                        <select name="sortType">
                            <option value="rateD">امتیاز، نزولی</option>
                            <option value="rateA">امتیاز، صعودی</option>
                            <option value="ageD">سن، نزولی</option>
                            <option value="ageA">سن، صعودی</option>
                        </select>
                    </div>
                </div>
            </form>
            <div id="result">
                {% if userAbilities|length == 0 %}
                    <h3 style="text-align: center;">موردی یافت نشد</h3>
                {% endif %}
                {% for abb in userAbilities %}
                    <div class="project">
                        <div class="specifications">
                            <a href={% url 'profile' abb.0.username.username %}>{{ abb.0.username.benefactor.nickname }}</a>
                            <ul>
                                {% for ab in abb %}
                                    <li>{{ ab.abilityId.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="cost">
                            <h3>سال تولد</h3>
                            <span class="budget">{{ abb.0.username.benefactor.year }}</span>
                        </div>
                        <div class="cost">
                            <h3>میانگین امتیاز</h3>
                            <span class="budget">{{ abb.0.username.benefactor.rate.totalRate }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="addr">
                <h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
                <h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
            </div>
        </div>
        <div class="copy">
            <h4>کپی‌رایت رعایت شود.</h4>
        </div>
    </div>
</div>
<script type="text/javascript" src={% static "js/main.js" %}></script>
<script src={% static "js/jquery.min.js" %}></script>
</body>
</html>